/* Selectores de Tags*/

body {
    background: #3D9970;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: #3F9999;
    padding: 1em;
    
}
header h1 {
    margin:0;
    color: white;
}

/* Selectores de clase */

.container{
    
    width: 600px;
    margin: auto;
}
.box{
    background: #FF851B;
    margin-top: 2em;
    

}

.box h2, .box p {
    padding: 1em;
    margin: 0;

}
.box img {
    width: 100%;
}
   
    
div.box .box__top div:first-child{
    display: inline-block;
    width: 80%;
}
div.box .box__top div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 0.5em;
    color: gray;
}

 /* Pseudo-Selectores*/

.box:hover{
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.81);
}

.box img:hover{
    opacity: 0.95;
}